* {
    box-sizing: border-box;
    }

.container {
    width: 960px;
    height: 1100px;
    margin: auto;
    background-color: blanchedalmond;
    border-bottom: 2px solid #000;
   
}


.first {
    /*display: inline-block;*/
    width: 800px;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;  
    /*border: 1px solid orange;*/
    border-bottom: 2px solid #000;
    margin: auto;
   
  

}

.who {
    width:30%;
    /*border: 1px solid blue;*/
    position:absolute;
   
    top:10px
}


.position {
    float:right;
    text-align: right;
    width:40%;
    /*border: 1px solid rgb(1, 1, 3);*/
    padding-top: 0px;
}


.second {
    width: 80%;
    height: 380px;
    padding: 30px, 30px, 0px;
    position: relative;
    /*border: 1px solid green;*/
    margin: 20px auto;

}

.ava {
    float: left;
    width: 300px;
    
    /* position: absolute;*/
    /*border: 1px solid orange;*/

}

.second-text {
    float: right;
    width: 300px;
    font-size: 30px;
    padding-bottom: 0px;
    
    /*border: 1px solid red;*/
}

h1 {
    text-align: center;
    

}

#objective {
    text-align: right;
    padding-right:10px;
    padding-bottom: 0px;
}

.detail {
    width: 80%;
    height: 600px;
    margin: auto;
    /*border: 3px solid #55083b;*/
    border-top: 2px solid #000;
}

.det{
    margin: 0 auto;
    font-size: 1.2em;
    /*vertical-align: 0px;*/
    
    
}

.two{
    margin:0 auto;
    width: 100%;
    font-size: 1.2em;
    /*vertical-align: 0px;*/
    
    
}

td, th {
   /* border-right: 1px solid #F50; */
    /*border-left: 1px solid #F50; */
    padding: 19px; /* устанавливаем внутренние отступы для всех сторон */
    vertical-align: 0px;
    }

    footer {
        width: 960px;
        height: 20px;
        margin: auto;
        font-size: 20px;
        text-align: center;
        background-color: burlywood;
    }