* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-wrapper,
.wrapper,
.footer-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}
/*------------------------------------------------------*/
.header-content {
  padding-top: 15px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #000;
}
.name {
  display: flex;
}
.position {
  display: flex;
}
/*------------------------------------------------------*/
.container {
  margin: 0 auto;
  padding-bottom: 10px;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #000;
}
.second {
  margin: 20px auto;
  padding: 30px, 30px, 0px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.second-img {
  width: 250px;
  height: auto;
  padding-left: 10px;
}

.second-text {
  padding-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.second-text h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 38px;
}
.second-text p {
  font-size: 25px;
}
/*------------------------------------------------------*/
.detail {
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #000;
}
.detail-item {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.detail-item h2 {
  margin: 10px 0;
}
.detail-item h3 {
  margin: 10px 0;
}
.detail-item p {
  /* font-size: 18px; */
}
.detail-item ul {
  padding: 20px;
}
.detail-text {
  margin-bottom: 10px;
}

.detail-education p {
  margin-top: 10px;
}
.detail-experience {
  background-color: rgb(238, 202, 155);
  line-height: 40px;
}
.detail-qualities {
  background-color: rgb(238, 202, 155);
  line-height: 30px;
}
.detail-skills {
  word-wrap: break-word;
}
.detail-hobby {
  position: absolute;
  cursor: default;
}
.detail-hobby summary {
  outline: none;
}
.detail-hobby summary::-webkit-details-marker {
  display: none;
}
.detail-code {
  margin: 0 auto;
  padding: 0 15px;
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid pink;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(238, 202, 155);
}
.detail-code h2 {
  display: contents;
  text-align: center;
}
.detail-code p {
  display: inline-flex;
  width: 50%;
  text-align: left;
}

/*------------------------------------------------------*/
.footer-content {
  margin: auto;
  padding: 20px 0;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rss-list {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rss-list img {
  display: inline-flex;
}
.rss-list span {
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
}
.contacts-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.contacts-list__item {
  list-style-type: none;
}
.contacts-list__item::marker {
  display: none;
}

.contacts-list__item-email {
  padding-left: 110px;
}
.contacts-list__item-inner {
  font-size: 20px;
  font-weight: bold;
}
